@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
  }

  body {
    color: #101828;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .txt-sm {
    @apply text-sm font-normal;
  }
  
  .txt-sm-bold {
    @apply text-sm font-semibold;
  }
  
  .txt-sm-link {
    @apply text-sm font-medium underline;
  }
  
  .txt-md {
    @apply text-base font-normal;
  }
  
  .txt-md-bold {
    @apply text-base font-semibold;
  }
  
  .txt-md-link {
    @apply text-base font-medium underline;
  }
  
  .txt-large {
    @apply text-xl font-normal;
  }
  
  .txt-large-bold {
    @apply text-xl font-semibold;
  }
  
  .txt-large-link {
    @apply text-xl font-medium underline;
  }
  
  .txt-heading-xsmal {
    @apply text-2xl font-bold;
  }
  
  .txt-heading-small {
    @apply text-3xl font-bold leading-[36px];
  }
  
  .txt-heading-medium {
    @apply text-4xl font-bold leading-[44px];
  }
  
  .txt-heading-large {
    @apply text-5xl font-extrabold leading-[56px];
  }
  
  .txt-heading-xlarge {
    @apply text-6xl font-extrabold leading-[68px];
  }
  
}

@import "./theme/common.css";
@import "./theme/text.css";
@import "./theme/button.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import 'animate.css';

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid  #FF3D00;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: white;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}